@import '../variables';

.formWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: $background-color;
}

.form {
  position: relative;

  width: 1009px;
  height: 745px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  .hit {
    position: absolute;
    top: 205px;
    left: 30px;

    width: 215px;
    height: 42px;

    background-color: transparent;
  }
}
