@import '../variables';

.formWrapper {
  align-items: center;

  background-color: $background-color;
  display: flex;
  height: 100%;
  justify-content: center;

  width: 100%;
}

.form {
  background-position: center;

  background-repeat: no-repeat;
  background-size: contain;
  height: 745px;
  min-width: 1009px;
  position: relative;

  width: 1009px;
  .hit {

    background-color: red;
    height: 42px;
    left: 30px;
    position: absolute;
    top: 205px;

    width: 215px;
  }
}

.mobile {
  .modal {
    @media only screen and (min-width: 320px) {
      background-color: rgba(0,0,0,0.5);
    }
    .modal-main {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .form {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 745px;
    min-width: unset;
    position: relative;
    width: 100%;
    .hit {
      left: 17px;
      top: 183px;
      width: 345px;
    }
  }
}
