@import '../variables';

.pickerHeader {
  align-items: center;
  border-bottom: 1px solid $border-color;
  display: flex;
  height: 64px;
  justify-content: space-between;
  padding: 0 16px;
  p {
    color: $date-gray;
    font-size: 12px;
  }
  .dateInputWrapper {
    height: 42px;
    position: relative;
    input {
      box-sizing: border-box;
      height: 100%;
      padding-left: 14px;
    }
    .chevronsWrapper {
      position: absolute;
      top: 0;
      right: 14px;
      height: 100%;
      display: flex;
      width: 24px;
      align-items: center;
      justify-content: space-around;
    }
  }
}
