@import '../variables';

.pickerCalendar {
  padding: 32px;
  border-bottom: 1px solid $border-color;
  color: $text-color;
  .monthWrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    height: $chevron-size;
    h1 {
      width: 186px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .chevronWrapper {
      width: $chevron-size;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      border-radius: $chevron-size;
      cursor: pointer;
      &:hover {
        background-color: $chevron-hover;
      }
      &.inactive {
        cursor: auto;
        &:hover {
          background-color: transparent;
        }
          .chevron {
            border-color: $inactive;
          }
        }
      }
    }
  .dayNames {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 12px 0 16px 0;
    div {
      width: $date-size;
      text-transform: uppercase;
      font-size: $day-names;
    }
  }
  .datesWrapper {
    display: inline-grid;
    grid-auto-rows: $date-size;
    grid-template-columns: repeat(7, $date-size);
    justify-content: space-between;
    width: 100%;
    div {
      align-items: center;
      display: flex;
      height: $date-size;
      justify-content: center;
      border-radius: $date-size;
      box-sizing: border-box;
      cursor: pointer;
      color: $interactive-blue;
      font-size: $dates;
      &.active {
        background-color: $interactive-blue;
        color: $white;
      }
      &.inactive {
        color: $inactive;
      }
      &:hover {
        border: 1px solid $interactive-blue;
      }
    }
  }
  .dayNames, .datesWrapper {
    text-align: center;
  }
}
