@import '../variables';

.pickerCalendar {
  padding: 32px;
  border-bottom: 1px solid $border-color;
  color: $text-color;
  .monthWrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .dayNames {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 12px 0 16px 0;
    div {
      width: $date-size;
      text-transform: uppercase;
    }
  }
  .datesWrapper {
    display: inline-grid;
    grid-auto-rows: $date-size;
    grid-template-columns: repeat(7, $date-size);
    justify-content: space-between;
    width: 100%;
    div {
      align-items: center;
      display: flex;
      height: $date-size;
      justify-content: center;
      border-radius: $date-size;
      box-sizing: border-box;
      cursor: pointer;
      color: $interactive-blue;
      &.active {
        background-color: $interactive-blue;
        color: $white;
      }
      &:hover {
        border: 1px solid $interactive-blue;
      }
    }
  }
  .dayNames, .datesWrapper {
    text-align: center;
  }
}
