// Web Color Shorthands
$white: #ffffff;

// Colors
$background-color: #f5f5f5;
$border-color: #e8e8e8;
$date-gray: #737373;
$interactive-blue: #006edc;
$mid-gray: #d9d9d9;
$text-color: #5c5c5c;
$inactive: #bfbfbf;
$chevron-hover: #f5f8fd;

// Spacing
$date-size: 36px;
$chevron-size: 32px;

// Global easing
$easing-duration: 0.5s;

// Font Sizes
$select-date: 12px;
$week-days: 17px;
$day-names: 11px;
$dates: 13px;
