@import './scss/reset';
@import './scss/shared';
@import './variables';

* {
  user-select: none;
}

body {
  font-family: "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: $month;
}
